:root {
    --body-color: #f0ece2;
    --box-color: #dfd3c3;
    --contrast-color: #c7b198;
    --font-color: #494949;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}




.container {
    max-width: 1400px;
    background-color: var(--body-color);
        background-image: url('images/body.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 40px;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('images/desktop-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0 100px 0;
}
header h1 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 115px;
    line-height: 1.5;
    font-weight: 700;
    color: var(--contrast-color);
    text-align: center;
}



header h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
    color: var(--font-color);
    text-align: center;
    
}
.card {
    background-color: transparent;
    border-radius: 8px;
    border:  0px none;
    
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 40px;
}
.section-work h1 {
        font-family: 'Shadows Into Light Two', cursive;
        font-size: 90px;
        line-height: 1.5;
        font-weight: 700;
        background-color: var(--box-color);
        border-radius: 8px;
        color: var(--contrast-color);
        text-align: center;
        padding: 40px 0;
        
}
.section-work .card h2 {
        font-family: 'Shadows Into Light Two', cursive;
        letter-spacing: 2px;
        font-size: 48px;
        font-weight: 900;
        line-height: 1.5;
        padding: 0px 20px;
        color: white;
        text-align: left;
}
.section-about-me {
    margin-top: 30px;
    background-color: var(--body-color);
    padding: 15px;
    border-radius: 8px;
}
.section-work {
    margin-top: 30px;
}
.section-contact .contact-box h1, .section-about-me h1 {
        font-family: 'Shadows Into Light Two', cursive;
        font-size: 90px;
        line-height: 1.5;
        font-weight: 700;
        color: var(--contrast-color);
        text-align: center;
        
}
a {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color);
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    text-align: left;
    margin: 20px 20px;
    }
 

.contact-box {
    display: block;
    margin: 0% auto;
    background-color: var(--box-color);
    max-width: 600px;
    border-radius: 50px;
    padding-bottom: 10px;
    
}
.portfolio-image {
    border-radius: 50px;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link, .work-link {
    background: var(--body-color);
    box-shadow: var(--box-shadow);
    color: var(--contrast-color);
}

.contact-link:hover, .work-link:hover {
    background-color: white;
    color: var(--contrast-color);
}

.contact-box .email-link {
    display: flex;
    justify-content: center;
    color: var(--contrast-color);
    font-size: 28px;
    text-decoration: none;

}
.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--body-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.primary-link:hover {
    color: var(--font-color);
}

.contact-box .email-link:hover {
    color: white;
}
footer {
    margin-top: 40px;
}
footer .contact-box {
    margin-bottom: 40px;
}
footer .contact-box h1 {
    font-family: 'Shadows Into Light Two', cursive;
        font-size: 90px;
        line-height: 1.5;
        font-weight: 700;
        color: white;
        text-align: center;
    
}

footer .social-links a {
    color: white;
}
footer .social-links a i {
    margin: 0px 10px;
    font-size: 60px;
}
footer .social-links a i:hover {
    color: var(--box-color);
}

@media (max-width: 994px) {
    .section-about-me {
        border: var(--box-color) 5px solid;
    }
    .container header h1 {
        font-size: 70px;
    }
    .container header h2 {
        display: none;
    }
    .container header h3 {
        font-size: 15px;
    }
    footer .contact-box {
            margin: 0px 175px;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .card {
        border: var(--box-color) 5px solid;
    }
    .section-work .card h2 {
            font-size: 30px;
            text-align: center;
        }
    header {
        padding: 60px 0 20px 0;
    }
    .section-about-me .grid h1 {
        font-size: 70px;
    }
    .section-work h1 {
        font-size: 45px;
         }
}
@media (max-width: 767px) {
    h3 {
        margin-bottom: 30px;
    }
    footer .contact-box {
            margin: 0px 150px;
    }
   
    .section-about-me .grid img {
        display: none;
    }
    footer .contact-box h1 {
        font-size: 30px;
    }
    footer .social-links a i {
        font-size: 40px;
    }
}
@media (max-width: 420px) {
    h1 {
        font-size: 50px;
    }

    .primary-link {
        display: flex;
        justify-content: center;
    }

    footer .contact-box {
        margin: 0px 0px;
    }
    .section-work h1 {
             font-size: 35px;
             padding: 0 10px 0 10px;
         }
}