:root {
    --primary-color: #ececec;
    --secondary-color: #9fd3c7;
    --third-color: #385170;
    --fourth-color: #142d4c;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.bg-light {
    background-color: #142d4c !important;

}
.navbar-brand, .navbar-toggler, .nav-link {
    color:#9fd3c7 !important;
}


body {
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--fourth-color);
}

h1 {
    font-size: 96px;
    font-weight: 700;
    color: var(--secondary-color);
}

h1,
h2,
h3 {
    text-align: center;
}

h2 {
    font-size: 48px;
    font-weight: 300;
    margin-top: 0px;
    color: var(--fourth-color);
}

h3 {
    font-size: 24px;
    color: var(--secondary-color);
    opacity: 0.7;
}

p {
    border-radius: 4px;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    text-align: left;
    margin: 30px 0px;
    color: var(--primary-color);
}

img {
    border-radius: 4px;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    background: var(--secondary-color);
    box-shadow: var(--box-shadow);
    color: var(--primary-color);
}

.contact-link:hover {
    color: var(--fourth-color);
}

.about-link {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.about-link:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.homepage-link {
    color: var(--fourth-color);
    text-align: center;
    display: block;
}



.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;

}

.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.primary-link:hover {
    color: var(--secondary-color);
}

.email-link:hover {
    
    color: var(--secondary-color);
}
footer .footer-box {
    background-color: #9fd3c7;
    margin: 0px 250px;
    padding: 15px 0px;
    border-radius: 10px;
    
    
}
footer .social-links a {
    color: var(--third-color);
}
footer .social-links a i {
    margin: 0px 10px;
    font-size: 30px;
}
footer .social-links a i:hover {
    color: white;
}

@media (max-width: 994px) {
    h1 {
        font-size: 70px;
    }
        footer .footer-box {
            margin: 0px 175px;
}
@media (max-width: 767px) {
    h3 {
        margin-bottom: 30px;
    }
        footer .footer-box {
            margin: 0px 150px;
}
}
@media (max-width: 420px) {
    h1 {
        font-size: 50px;
    }

    .primary-link {
        display: flex;
        justify-content: center;
    }

    footer .footer-box {
        margin: 0px 0px;
    }
}