:root {
    --body-color: #faf6e9;
    --box-color: #ece8d9;
    --contrast-color: #fffdf6;
    --font-color: #494949;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.bg-light {
    background-color: var(--body-color) !important;

}
.navbar-brand, .navbar-toggler, .nav-link {
    color: var(--font-color) !important;
}


body {
    margin-top: 100px;
    
    background-color: var(--body-color);
}

h1 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 96px;
    font-weight: 700;
    color: var(--font-color);
}

h1,
h2,
h3 {
    text-align: center;
}

h2 {
    font-size: 48px;
    font-weight: 300;
    margin-top: 0px;
    color: var(--font-color);
}

h3 {
    font-size: 24px;
    color: var(--font-color);
    opacity: 0.7;
}

p {
    border-radius: 4px;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    text-align: left;
    margin: 30px 0px;
    color: var(--font-color);
}
.contact-box {
    
    background-color: var(--box-color);
    max-width: 600px;
    border-radius: 50px;
    
}
img {
    border-radius: 4px;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    background: var(--box-color);
    box-shadow: var(--box-shadow);
    color: var(--font-color);
}

.contact-link:hover {
    background-color: var(--font-color);
    color: var(--contrast-color);
}

.about-link {
    color: var(--font-color);
    border: 1px solid var(--font-color);
}

.about-link:hover {
    color: var(--contrast-color);
    border: 1px solid var(--font-color);
}

.homepage-link {
    color: var(--font-color);
    text-align: center;
    display: block;
}



.contact-box .email-link {

    display: flex;
    justify-content: center;
    color: var(--font-color);
    font-size: 28px;
    text-decoration: none;

}

.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--body-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.primary-link:hover {
    color: var(--font-color);
}

.contact-box .email-link:hover {
    color: white;
}
footer .footer-box {
    background-color: var(--contrast-color)
    margin: 0px 250px;
    padding: 15px 0px;
    border-radius: 10px;
    
    
}
footer .social-links a {
    color: var(--contrast-color);
}
footer .social-links a i {
    margin: 0px 10px;
    font-size: 60px;
}
footer .social-links a i:hover {
    color: var(--body-color);
}

@media (max-width: 994px) {
    h1 {
        font-size: 70px;
    }
        footer .footer-box {
            margin: 0px 175px;
}
@media (max-width: 767px) {
    h3 {
        margin-bottom: 30px;
    }
        footer .footer-box {
            margin: 0px 150px;
}
}
@media (max-width: 420px) {
    h1 {
        font-size: 50px;
    }

    .primary-link {
        display: flex;
        justify-content: center;
    }

    footer .footer-box {
        margin: 0px 0px;
    }
}